week-05-automl-training/workflow.json
{
  "name": "Week 5 - Generic vs Fine-Tuned Comparison",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "54d1a378-86c1-4d60-bc92-5f5a9bdd82f1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appR3U6rujY3ZpXIC",
          "mode": "list",
          "cachedResultName": "Week 5 Model Training",
          "cachedResultUrl": "https://airtable.com/appR3U6rujY3ZpXIC"
        },
        "table": {
          "__rl": true,
          "value": "tblY31xshePrPRLGW",
          "mode": "list",
          "cachedResultName": "Fine-Tuned Comparison",
          "cachedResultUrl": "https://airtable.com/appR3U6rujY3ZpXIC/tblY31xshePrPRLGW"
        },
        "filterByFormula": "input_text != \"\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "306afa4f-4470-4867-8c24-c71d3da2c855",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "VuFaWAOHWzQe5v7x",
          "name": "Airtable Personal Access Token account 29"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "75b169f1-2d35-430c-a00d-6fc433eafb4c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $json.input_text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        96
      ],
      "id": "52874e8c-8328-48d6-9499-6a004349ec50",
      "name": "Generic Sentiment",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ldGQEyoR1mdqChgK",
          "name": "Hugging Face API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "652708fd-dc82-466d-8a3a-4a9067c1ceb1",
              "name": "generic_label",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "c1191e18-27a3-40f9-b106-a713ee110dec",
              "name": "generic_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            },
            {
              "id": "3b8e7999-42c8-47d8-89f1-360535c4cd00",
              "name": "input_text",
              "value": "={{ $('Search records').item.json.input_text }}",
              "type": "string"
            },
            {
              "id": "60deaf05-06e9-44d5-acb7-9655ff0a894f",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        96
      ],
      "id": "430f3d6d-86dc-4f87-b270-b4465fde4237",
      "name": "Extract Generic"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/mrm8488/bert-tiny-finetuned-sms-spam-detection/pipeline/text-classification",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "=={{ $('Search records').item.json.input_text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        272
      ],
      "id": "18107d22-c814-4f8a-9710-177cfad94c2f",
      "name": "Fine-Tuned A",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ldGQEyoR1mdqChgK",
          "name": "Hugging Face API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/mshenoda/roberta-spam",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "=={{ $('Search records').item.json.input_text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        432
      ],
      "id": "17cb817a-bab7-450b-8785-7b5fc4443549",
      "name": "Fine-Tuned B",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ldGQEyoR1mdqChgK",
          "name": "Hugging Face API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        240
      ],
      "id": "7c4f8408-b67d-47b9-82f8-0e8b606652c2",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "904865d5-f156-4d6f-a233-0211add05854",
              "name": "finetuned_a_label",
              "value": "={{ $json[0].label === 'LABEL_1' ? 'Fraudulent' : 'Legitimate' }}",
              "type": "string"
            },
            {
              "id": "6b85505c-4bb3-4b43-9540-3dc846ad1d74",
              "name": "finetuned_a_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            },
            {
              "id": "f17c882b-6c52-43be-9565-20e9e694802a",
              "name": "status",
              "value": "={{ $json.label === 'LABEL_1' ? 'Spam' : 'Ham' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        272
      ],
      "id": "ec69e8af-aa90-4bdc-8d5c-7ccc9e35645b",
      "name": "Extract Fine-Tuned A"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69a8752e-b5a5-45db-96d8-b11b424a7301",
              "name": "finetuned_b_label",
              "value": "={{ $json[0].label === 'LABEL_1' ? 'Fraudulent' : 'Legitimate' }}",
              "type": "string"
            },
            {
              "id": "48d0cdc2-f0f3-4180-bcfb-c83521a9e31e",
              "name": "finetuned_b_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        432
      ],
      "id": "bfc01369-2bbd-4903-a219-6a2b9148f11d",
      "name": "Extract Fine-Tuned B"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appR3U6rujY3ZpXIC",
          "mode": "list",
          "cachedResultName": "Week 5 Model Training",
          "cachedResultUrl": "https://airtable.com/appR3U6rujY3ZpXIC"
        },
        "table": {
          "__rl": true,
          "value": "tblY31xshePrPRLGW",
          "mode": "list",
          "cachedResultName": "Fine-Tuned Comparison",
          "cachedResultUrl": "https://airtable.com/appR3U6rujY3ZpXIC/tblY31xshePrPRLGW"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.record_id }}",
            "generic_label": "={{ $json.generic_label }}",
            "finetuned_a_score": "={{ $json.finetuned_a_score }}",
            "generic_score": "={{ $json.generic_score }} ",
            "finetuned_a_label": "={{ $json.finetuned_a_label }}",
            "finetuned_b_label": "={{ $json.finetuned_b_label }}",
            "finetuned_b_score": "={{ $json.finetuned_b_score }}",
            "tested_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generic_label",
              "displayName": "generic_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generic_score",
              "displayName": "generic_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_a_label",
              "displayName": "finetuned_a_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_a_score",
              "displayName": "finetuned_a_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_b_label",
              "displayName": "finetuned_b_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_b_score",
              "displayName": "finetuned_b_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "winner",
              "displayName": "winner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at",
              "displayName": "tested_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1232,
        544
      ],
      "id": "e22ea6c9-64f1-47cd-a59d-d1cf3895ee23",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "VuFaWAOHWzQe5v7x",
          "name": "Airtable Personal Access Token account 29"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Generic Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fine-Tuned A",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fine-Tuned B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generic Sentiment": {
      "main": [
        [
          {
            "node": "Extract Generic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fine-Tuned A": {
      "main": [
        [
          {
            "node": "Extract Fine-Tuned A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fine-Tuned B": {
      "main": [
        [
          {
            "node": "Extract Fine-Tuned B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Generic": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fine-Tuned A": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Fine-Tuned B": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "219455b5-8750-4014-81ab-8eda0392b1ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "RKp8V6Uz50KxPL5Y",
  "tags": []
}
